/* IRANYekan Fonts */
@font-face {
  font-family: 'IRANYekanXFaNum-Regular';
  src: url('/fonts/IRANYekanXFaNum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANYekanXFaNum-Medium';
  src: url('/fonts/IRANYekanXFaNum-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Global font family variables */
:root {
  --font-yekan-regular: 'IRANYekanXFaNum-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  --font-yekan-medium: 'IRANYekanXFaNum-Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;

  --font-size-base : 14px;
  --font-size-base2 : 16px
}

/* Apply fonts to body */
body {
  font-family: var(--font-yekan-regular);
  font-weight: 400;
  line-height: 1.5;
}

/* Typography utility classes */
.font-yekan-regular {
  font-family: var(--font-yekan-regular);
  font-weight: 400;
}

.font-yekan-medium {
  font-family: var(--font-yekan-medium);
  font-weight: 500;
}

.font-yekan-bold {
  font-family: var(--font-yekan-medium);
  font-weight: 700;
} 