.confirmContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto
}

.inputContainer {
  width: 100%;
  max-width: 1200px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check {
  margin: 16px 0
}

.inputs {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 24px;
  margin: 0 auto; // کل بخش inputs وسط قرار می‌گیره
}

.actionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-3);
  justify-content: space-between;
  margin-top: var(--spacing-2);
}

.actionButton {
  flex: 1;
}